<div class="container">
  <div class="center">
    <div class="application-form">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">&#9977;</span>
        <input ng-model="user.name" type="text" class="form-control" placeholder="Your name" aria-describedby="basic-addon1">
      </div>
      <div class="buttons">
        <div class="btn-group next" role="group" aria-label="...">
          <button id="next" type="button" class="btn btn-primary" ng-disabled="!isInputValid('name')" ng-click="goTo('email')">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
